.content {
	width: 100%;
	display: flex;
	justify-content: space-between;

	.col {
		display: flex;
		flex-direction: column;
		row-gap: 15px;
		width: 40%;
		height: 100%;

		&.statistic {
			width: 60%;
			align-items: center;
		}

		.title {
			font-size: var(--font-title);
			font-weight: bold;
			text-transform: uppercase;
			display: flex;
			flex-direction: column;
			row-gap: 5px;

			.details {
				display: flex;
				flex-direction: column;
				.detail {
					display: flex;
					align-items: center;
					column-gap: 5px;
					span {
						font-weight: normal;
					}
					font-size: var(--font-subtitle);
					color: var(--text-muted);
				}
			}
		}

		.status {
			text-transform: uppercase;
			font-size: var(--font-large);
			font-weight: bold;
			color: var(--accent-blue-medium);
			padding-bottom: 1px;
		}

		.stars {
			display: flex;
			align-items: center;
			column-gap: 5px;
			margin-bottom: 25px;
		}

		.row {
			width: 100%;
			&Title {
				color: var(--text-muted);
				font-size: var(--font-text);
			}

			.stress {
				display: flex;
				align-items: center;
				column-gap: 5px;
				div {
					height: 40px;
					width: 40px;
					border: 1px solid var(--border-color);
					border-radius: 5px;
				}
			}
		}

		.share {
			text-transform: uppercase;
			font-size: var(--font-large);
			padding: 10px 20px;
		}
	}
}
