.select {
	position: relative;
	color: var(--text-main);
	flex-direction: column;
	align-items: start;
	row-gap: 5px;
	width: max-content;
	min-width: 100px;

	.header {
		width: 100%;
		display: flex;
		flex-direction: column;
		row-gap: 5px;
		padding: 5px 10px;

		background-color: var(--bg-secondary);
		border-radius: 10px;
		border: 1px solid var(--border-color);

		&.hasError {
			border: 1px solid var(--text-danger);
		}

		.error {
			font-size: var(--font-errors);
			color: var(--text-danger);
		}

		.title {
			display: flex;
			align-items: center;
			justify-content: space-between;
			column-gap: 5px;
			font-size: var(--font-text);
			cursor: pointer;
			user-select: none;

			.icon {
				height: 20px;
				width: 20px;
				transition: rotate 0.3s ease-in-out;

				&.active {
					rotate: -180deg;
				}
			}
		}
	}

	.options {
		width: 100%;
		position: absolute;
		top: calc(100% + 5px);
		left: 0;
		display: flex;
		flex-direction: column;
		row-gap: 5px;
		background-color: var(--bg-main);
		border: 1px solid var(--border-color);
		border-radius: 10px;

		z-index: 9999;
		padding: 5px;

		.option {
			width: 100%;
			cursor: pointer;
			padding: 5px 10px;
			border: 1px solid var(--bg-main);
			background-color: var(--bg-main);
			border-radius: 10px;
			transition: all 0.1s ease-in-out;
			display: flex;
			align-items: center;
			justify-content: space-between;
			column-gap: 5px;

			&.selected {
				color: var(--text-muted);
				background-color: var(--accent-blue-light);
			}

			&:hover {
				background-color: var(--accent-blue-light);
			}
		}
	}
}
