.room {
	height: 100vh;
	width: 100vw;
	background-color: var(--accent-blue-normal);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	row-gap: 40px;

	.main {
		width: 100%;
		display: flex;
		column-gap: 40px;
	}
}
