.final {
	width: 100vw;
	min-height: 100vh;
	background-color: var(--accent-blue-normal);
	color: var(--text-main);
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: start;

	.wrap {
		width: 100%;
		background-color: var(--bg-main);
		border-radius: 10px;
		padding: 20px;
		display: flex;
		flex-direction: column;
		row-gap: 20px;
		align-items: start;
		justify-content: space-between;

		.line {
			height: 3px;
			width: 100%;
			background-color: var(--accent-blue-light);
		}

		.section {
			width: 100%;
			display: flex;
			flex-direction: column;
			row-gap: 10px;
			.title {
				font-size: var(--font-title);
				font-weight: bold;
				text-transform: uppercase;
				display: flex;
				flex-direction: column;
				row-gap: 5px;
			}
			.description {
				color: var(--text-muted);
			}
			.list {
				display: flex;
				flex-direction: column;
				row-gap: 15px;
				background-color: var(--accent-blue-light);
				padding: 20px;
				border-radius: 10px;

				.item {
					display: flex;
					flex-direction: column;
					row-gap: 10px;
					padding: 10px;
					border-radius: 10px;
					border: 1px solid var(--accent-blue-normal);
					.topic {
						font-weight: bold;
						font-size: var(--font-subtitle);
					}
					.info {
						color: var(--text-muted);
						display: flex;
						flex-direction: column;
						align-items: start;

						&Start {
							text-transform: uppercase;
							font-size: var(--font-text);
							font-weight: bold;
						}

						&End {
							color: var(--text-main);

							&.copy {
								cursor: pointer;
								padding: 5px;
								background-color: var(--bg-secondary);
								font-family: monospace;
							}
						}
					}
				}
			}
		}
	}
}
