.air {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	.wrap {
		background-color: var(--bg-secondary);
		border: 1px solid var(--border-color);
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		row-gap: 30px;
		padding: 20px;
		max-width: 500px;
		width: 100%;

		form {
			display: flex;
			flex-direction: column;
			row-gap: 20px;
		}
	}
}
