:root {
	--bg-main: #ffffff;
	--bg-secondary: #f9fafb;
	--bg-secondary-hover: #f0f1f3;
	--text-main: #111827;
	--text-muted: #6b7280;
	--border-color: #e5e7eb;
	// --accent-blue-medium: #0066ff;
	// --accent-blue-medium-hover: #0052cc;
	--accent-blue-medium: #1f79ff;
	--accent-blue-medium-hover: #0066ff;
	--accent-blue-normal: #6ea8ff;
	--accent-blue-normal-hover: #669def;
	--accent-blue-light: #e3eeff;
	--accent-blue-light-hover: #cee3ff;
	--accent-red: #de5371;
	--accent-red-hover: #f15a7b;
	--text-danger: #e11d48;
	--text-success: #37d237;
	--text-proccess: #ecb44b;
	--font-main: 'Rubik', sans-serif;

	--font-errors: 11px;
	--font-text: 14px;
	--font-subtitle: 18px;
	--font-title: 25px;
	--font-large: 30px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}
body {
	background-color: var(--bg-main);
	color: var(--text-main);
	font-family: var(--font-main);
	line-height: 1.5;
}

body.no-scroll {
	overflow: hidden;
}

ul {
	margin: 0;
	padding: 0;
}

ul > li {
	list-style: none;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

img {
	max-width: 100%;
}

.container {
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}
