.response {
	background-color: var(--bg-main);
	border-radius: 10px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	overflow: hidden;
	.header {
		display: flex;
		align-items: center;
		column-gap: 15px;
		.avatar {
			height: 100px;
			width: 100px;
			border-radius: 10px;
			border: 2px solid var(--border-color);

			img {
				border-radius: 10px;
				height: 100%;
				width: 100%;
				object-fit: cover;
				object-position: center center;
			}
		}

		.username {
			white-space: nowrap;
			font-size: var(--font-large);
			font-weight: bold;
			color: var(--text-main);
		}
	}
	.message {
		white-space: pre-wrap;
	}
}
